- if @stock.earnings.empty?
  = content_for :head do
      javascript:
          $(function () {
              $('#highchart').highcharts('StockChart', {
                 chart: {
                      alignTicks: false,
                      height: 800,
                      },
                 yAxis: [{
                      type: 'logarithmic',
                      ceiling: '#{ graph_max(@stock)*20 }',
                      max: '#{ graph_max(@stock)*20 }',
                      min: '#{ graph_min(@stock)*20 }',
                      startOnTick: false,
                      endOnTick: false,
                      opposite: false
                  }],
                  series: [{
                      name: "Price",
                      data: #{ raw highchart_quotes(@stock) }
                  }]
              });
          });
- else 
  = content_for :head do
      javascript:
          $(function () {
              $('#highchart').highcharts('StockChart', {
                 chart: {
                      alignTicks: false,
                      height: 800,
                      },
                 yAxis: [{
                      type: 'logarithmic',
                      ceiling: '#{ graph_max(@stock)*20 }',
                      max: '#{ graph_max(@stock)*20 }',
                      min: '#{ graph_min(@stock)*20 }',
                      startOnTick: false,
                      endOnTick: false,
                      opposite: false
                  } , {
                      type: 'logarithmic',
                      ceiling: '#{ graph_max(@stock) }',
                      max: '#{ graph_max(@stock) }',
                      min: '#{ graph_min(@stock) }',
                      startOnTick: false,
                      endOnTick: false,
                      opposite: true
                  }],
                 xAxis: {
                      min: '#{ highchart_earnings(@stock)[0][0] }'
                  },
                  series: [{
                      name: "Price",
                      data: #{ raw highchart_quotes(@stock) }
                  } , {
                      name: "Earnings",
                      data: #{ raw highchart_earnings(@stock) },
                      yAxis: 1,
                      type: 'column'
                  }]
              });
          });
